<% if logged_in? %>
  <%= form_for [ @article, @comment ] do |f| %>
    <p>
      <%= current_user.username %>
    </p>
    <p>
      <%= f.label :body, "Comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'Submit' %>
    </p>
  <% end %>
<% else %>
  <p>
    Please
    <%= link_to "login", login_path %>
    or
    <%= link_to "Create a new Account", new_user_path %>
    to Comment
    <br><br>
  </p>
<% end %>
