<h1><%= @article.title %></h1>
<h2>By: <%= @article.author %></h2>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<% (0...@article.images.count).each do |image| %>
  <%= image_tag(@article.thumbnail(image)) %>
<% end %>
<pre><%= @article.body %></pre>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<h3>Post a Comment</h3>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles", articles_path %>
<% if logged_in? && (current_user.username == @article.author ||
      current_user.username == "admin") %>
  | <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", article_path(@article), method: :delete,
      data: {confirm: "Are you sure you want to delete this article?"} %>
<% end %>
