<div id="<%= dom_id post %>" class="px-8 py-4 border border-gray-800 rounded">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <div class="flex items-center my-3">
    <strong class="mr-2">Author:</strong>

    <% if post.user.profile_picture.present? %>
      <%= image_tag post.user.profile_picture, class: "rounded-full h-8 w-8 object-cover mr-2" %>
    <% else %>
      <%= image_tag "default_profile_picture.png", class: "rounded-full h-8 w-8 object-cover mr-2" %>
    <% end %>

    <%= post.user.username %>
  </div>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p class="text-gray-500">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
</div>
